@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import './colors.scss';
@import './variables.scss';

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: $font-size;
    color: $text;
}

body {
    background-color: $background;
    color: $text;
}

header, footer, section {
    padding: 0px $center-margin;
}

@media (max-width: 1450px) {
    header, footer, section {
        padding: 0px $mobile-center-margin;
    }
}

a, input, button {
    text-decoration: none;
    outline: none;
}